@inject IStringLocalizer<Index> Localizer
@page "/"
@using Microsoft.Extensions.Localization

<div class="text-center display-4">@Localizer["RedDwarf"]</div>
<p class="text-center display-6 p-5 text-primary">
    @Localizer["Great tool for testing"]
</p>
