@namespace TestsCaseApp.Blazor.Shared
@inherits LayoutComponentBase

<PageTitle>TestsCaseApp.Blazor</PageTitle>

    <div >
        <NavMenu/>
    </div>

    <main class="flex-fill container py-5">
        @Body
    </main>